@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-slate-900 via-slate-800 to-slate-900 text-white;
}

html {
  scroll-behavior: smooth;
}

.social-btn {
  @apply w-10 h-10 flex items-center justify-center rounded-full border border-cyan-400 text-cyan-400 hover:bg-cyan-400 hover:text-black transition;
}


